@model WebApplication2.Models.order

@{
    ViewData["Title"] = "edite";
}

<h1>edite</h1>

<h4>order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="sedite" asp-route-id="@Model.Id" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="qantity" class="control-label"></label>
                <input asp-for="qantity" class="form-control" />
                <span asp-validation-for="qantity" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index"class="">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
